#tictactoe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 150px;
    margin: auto;
}

#tictactoe div {
    text-align: center;
    font-size: 48px;
    font-family: sans-serif;
    height: 50px;
    user-select: none;
}
#tictactoe div:nth-child(even) {
    background-color: #444;
}
#tictactoe div:nth-child(odd) {
    background-color: #555;
}

#tictactoe.active div:hover {
    background-color: #433;
}
#tictactoe.active div:empty:hover {
    background-color: #844;
    cursor: pointer;
}

.tictactoe-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;

    .tictactoe-btn {
        font-size: 1.25em;
        padding: 8px 16px;
    }
}